In [3]:
import pandas as pd
import numpy as np
import streamlit as st
import os

In [14]:

current_directory = os.getcwd()

#Construct a relative path 

relative_path = os.path.join(current_directory, 'data', 'Poly 2023 LAS Reference.xlsx')



df =dict()
sheet_names = pd.ExcelFile(relative_path).sheet_names

for sheet in sheet_names:
    df[sheet]=pd.read_excel(relative_path,sheet_name=sheet)
    df[sheet]['Poly'] = sheet

df= pd.concat(df, ignore_index=True)

In [15]:
df.columns = df.columns.str.strip()

In [16]:
df['Poly-Course']= df['Course Name']+" "+"("+ df['MOE Course Code']+")"

df

,MOE Course Code,Course Name,Aggregate Type,2023 Range of Aggregate Score (Net),Poly,Poly-Course
0,R40,AEROSPACE ENGINEERING,ELR2B2-C,12-26,RP,AEROSPACE ENGINEERING (R40)
1,R17,APPLIED CHEMISTRY,ELR2B2-C,12-18,RP,APPLIED CHEMISTRY (R17)
2,R25,ARTS & THEATRE MANAGEMENT,ELR2B2-A,13-19,RP,ARTS & THEATRE MANAGEMENT (R25)
3,R39,AVIATION MANAGEMENT,ELR2B2-C,15-25,RP,AVIATION MANAGEMENT (R39)
4,R14,BIOMEDICAL SCIENCE,ELR2B2-C,7-12,RP,BIOMEDICAL SCIENCE (R14)
...,...,...,...,...,...,...
197,T25,PHARMACEUTICAL SCIENCE,ELR2B2-C,5-10,TP,PHARMACEUTICAL SCIENCE (T25)
198,T35,PRODUCT EXPERIENCE & DESIGN,ELR2B2-D,5-16,TP,PRODUCT EXPERIENCE & DESIGN (T35)
199,T48,PSYCHOLOGY STUDIES,ELR2B2-A,3-8,TP,PSYCHOLOGY STUDIES (T48)
200,T53,SOCIAL SCIENCES IN GERONTOLOGY,ELR2B2-A,9-14,TP,SOCIAL SCIENCES IN GERONTOLOGY (T53)
201,T45,VETERINARY TECHNOLOGY,ELR2B2-C,5-9,TP,VETERINARY TECHNOLOGY (T45)

In [17]:
df['Poly-Course']= df['Course Name']+" "+"("+ df['MOE Course Code']+")"

df.sort_values(by='Poly-Course',inplace=True)

df

,MOE Course Code,Course Name,Aggregate Type,2023 Range of Aggregate Score (Net),Poly,Poly-Course
43,C98,ACCOUNTANCY & FINANCE,ELR2B2-B,6-12,NYP,ACCOUNTANCY & FINANCE (C98)
161,T02,ACCOUNTANCY & FINANCE,ELR2B2-B,5-11,TP,ACCOUNTANCY & FINANCE (T02)
118,N51,ACCOUNTANCY,ELR2B2-B,4-12,NP,ACCOUNTANCY (N51)
83,S75,ACCOUNTANCY,ELR2B2-B,4-12,SP,ACCOUNTANCY (S75)
44,C62,ADVANCED & DIGITAL MANUFACTURING,ELR2B2-C,15-23,NYP,ADVANCED & DIGITAL MANUFACTURING (C62)
...,...,...,...,...,...,...
201,T45,VETERINARY TECHNOLOGY,ELR2B2-C,5-9,TP,VETERINARY TECHNOLOGY (T45)
116,NaN,NaN,NaN,NaN,SP,NaN
117,NaN,* previously known as INFOCOMM SECURITY MANAGE...,NaN,NaN,SP,NaN
159,NaN,NaN,NaN,NaN,NP,NaN
160,NaN,* previously known as AUTOMATION & MECHATRONIC...,NaN,NaN,NP,NaN

In [18]:
df.to_pickle('data.pickle')

In [19]:
df = pd.read_pickle('data.pickle')
df

,MOE Course Code,Course Name,Aggregate Type,2023 Range of Aggregate Score (Net),Poly,Poly-Course
43,C98,ACCOUNTANCY & FINANCE,ELR2B2-B,6-12,NYP,ACCOUNTANCY & FINANCE (C98)
161,T02,ACCOUNTANCY & FINANCE,ELR2B2-B,5-11,TP,ACCOUNTANCY & FINANCE (T02)
118,N51,ACCOUNTANCY,ELR2B2-B,4-12,NP,ACCOUNTANCY (N51)
83,S75,ACCOUNTANCY,ELR2B2-B,4-12,SP,ACCOUNTANCY (S75)
44,C62,ADVANCED & DIGITAL MANUFACTURING,ELR2B2-C,15-23,NYP,ADVANCED & DIGITAL MANUFACTURING (C62)
...,...,...,...,...,...,...
201,T45,VETERINARY TECHNOLOGY,ELR2B2-C,5-9,TP,VETERINARY TECHNOLOGY (T45)
116,NaN,NaN,NaN,NaN,SP,NaN
117,NaN,* previously known as INFOCOMM SECURITY MANAGE...,NaN,NaN,SP,NaN
159,NaN,NaN,NaN,NaN,NP,NaN
160,NaN,* previously known as AUTOMATION & MECHATRONIC...,NaN,NaN,NP,NaN

In [13]:
# Sample DataFrame

# Streamlit App
st.title('2024 Poly Course Comparison')

# Multiselect to choose multiple items
selected_items = st.multiselect('Choose Course:', df['Poly-Course'])

# Button to trigger result display
result_button = st.button('Result')

# Display the selected items from the DataFrame
if result_button:
    selected_rows = df[df['Poly-Course'].isin(selected_items)]
    st.write('### Selected Items Details:')
    for index, row in selected_rows.iterrows():
        st.write(f"**Course:** {row['Poly-Course']}, **Range of Aggregate Score:** {row['2023 Range of Aggregate Score (Net)']}")
        
else:
    st.warning('Please select at least one item.')

2023-12-16 17:57:30.273
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run C:\Users\chooyen\myenv\Lib\site-packages\ipykernel_launcher.py [ARGUMENTS]

In [86]:
df.sort_values(by=df['Poly-Course'])

KeyError: 0               AEROSPACE ENGINEERING (R40)
1                   APPLIED CHEMISTRY (R17)
2           ARTS & THEATRE MANAGEMENT (R25)
3                 AVIATION MANAGEMENT (R39)
4                  BIOMEDICAL SCIENCE (R14)
                       ...
197            PHARMACEUTICAL SCIENCE (T25)
198      PRODUCT EXPERIENCE & DESIGN  (T35)
199                PSYCHOLOGY STUDIES (T48)
200    SOCIAL SCIENCES IN GERONTOLOGY (T53)
201             VETERINARY TECHNOLOGY (T45)
Name: Poly-Course, Length: 202, dtype: object