In [44]:
import pandas as pd
import numpy as np
import streamlit as st

In [68]:
path = r"C:\Users\chooyen\myenv\streamlit_apps\streamlit-Course Selection\data\Poly 2023 LAS Reference.xlsx"

df =dict()
sheet_names = pd.ExcelFile(path).sheet_names

for sheet in sheet_names:
    df[sheet]=pd.read_excel(path,sheet_name=sheet)

df= pd.concat(df, ignore_index=True)

In [71]:
df.columns = df.columns.str.strip()

In [84]:
df['Poly-Course']= df['Course Name']+" "+"("+ df['MOE Course Code']+")"

df

,MOE Course Code,Course Name,Aggregate Type,2023 Range of Aggregate Score (Net),Poly-Course
0,R40,AEROSPACE ENGINEERING,ELR2B2-C,12-26,AEROSPACE ENGINEERING (R40)
1,R17,APPLIED CHEMISTRY,ELR2B2-C,12-18,APPLIED CHEMISTRY (R17)
2,R25,ARTS & THEATRE MANAGEMENT,ELR2B2-A,13-19,ARTS & THEATRE MANAGEMENT (R25)
3,R39,AVIATION MANAGEMENT,ELR2B2-C,15-25,AVIATION MANAGEMENT (R39)
4,R14,BIOMEDICAL SCIENCE,ELR2B2-C,7-12,BIOMEDICAL SCIENCE (R14)
...,...,...,...,...,...
197,T25,PHARMACEUTICAL SCIENCE,ELR2B2-C,5-10,PHARMACEUTICAL SCIENCE (T25)
198,T35,PRODUCT EXPERIENCE & DESIGN,ELR2B2-D,5-16,PRODUCT EXPERIENCE & DESIGN (T35)
199,T48,PSYCHOLOGY STUDIES,ELR2B2-A,3-8,PSYCHOLOGY STUDIES (T48)
200,T53,SOCIAL SCIENCES IN GERONTOLOGY,ELR2B2-A,9-14,SOCIAL SCIENCES IN GERONTOLOGY (T53)
201,T45,VETERINARY TECHNOLOGY,ELR2B2-C,5-9,VETERINARY TECHNOLOGY (T45)

In [78]:
# Sample DataFrame

# Streamlit App
st.title('2024 Poly Course Comparison')

# Multiselect to choose multiple items
selected_items = st.multiselect('Choose Course:', df['Poly-Course'])

# Button to trigger result display
result_button = st.button('Result')

# Display the selected items from the DataFrame
if result_button:
    selected_rows = df[df['Poly-Course'].isin(selected_items)]
    st.write('### Selected Items Details:')
    for index, row in selected_rows.iterrows():
        st.write(f"**Course:** {row['Poly-Course']}, **Range of Aggregate Score:** {row['2023 Range of Aggregate Score (Net)']}")
        
else:
    st.warning('Please select at least one item.')

In [79]:
df

,MOE Course Code,Course Name,Aggregate Type,2023 Range of Aggregate Score (Net)
0,R40,AEROSPACE ENGINEERING,ELR2B2-C,12-26
1,R17,APPLIED CHEMISTRY,ELR2B2-C,12-18
2,R25,ARTS & THEATRE MANAGEMENT,ELR2B2-A,13-19
3,R39,AVIATION MANAGEMENT,ELR2B2-C,15-25
4,R14,BIOMEDICAL SCIENCE,ELR2B2-C,7-12
...,...,...,...,...
197,T25,PHARMACEUTICAL SCIENCE,ELR2B2-C,5-10
198,T35,PRODUCT EXPERIENCE & DESIGN,ELR2B2-D,5-16
199,T48,PSYCHOLOGY STUDIES,ELR2B2-A,3-8
200,T53,SOCIAL SCIENCES IN GERONTOLOGY,ELR2B2-A,9-14
201,T45,VETERINARY TECHNOLOGY,ELR2B2-C,5-9